@font-face {
    font-family: geometria;
    src: url("Geometria.woff") format("woff");
}
.exampleNumber{
    width: 90vmin;
    height: 7vmin;
    font-family: geometria;
    font-size: 7vmin;
    text-align: center;
    margin: 4vmin auto;
}
.description{
    width: 80%;
    margin: 4vmin auto;
    font-size: 3.7vmin;
    font-family: geometria;
    text-indent: 4vmin;
}